*{
   margin: 0;
   padding: 0;
   box-sizing: border-box;
}

body{
   font-family: "Roboto Mono", sans-serif;
   font-weight: 1.5em;
   color: #fff;
   background-color: #E5E5E5;
   width: 100%;
   height: 100vh;
   display: flex;
   align-items: center;
   justify-content: center;
   font-size: 24px;
}
ul{
   list-style-type: none;
}
.container{
   border: 1px solid rgb(148, 9, 106);
   padding: 20px;
   border-radius: 10px;
   background-color: #fff;
   user-select: none;
}
.bg{
   background-color: #A772CF !important;
}
.bg-danger{
   background-color: rgb(119, 8, 86) !important;
}
.calc__item {
   margin-bottom: 5px;
}
.items{
   cursor: pointer;
   display: inline-block;
   padding: 20px 30px;
   background-color: #08133F;
   border-radius: 5px;
}
.calc__input{
   color: #333;
   text-align: right;
   width: 100%;
   height: 50px;
   padding: 50px 0;
   font-size: 32px;
}